* {
  box-sizing: border-box;
}

:root {
  --main-color: rgb(75, 211, 224);
  --main-color2: rgb(72, 68, 68);
}


body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
  background-color: var(--main-color2);
  /* align-items: center; */
}

h1 {
  margin: 5px 5px 5px 0;
  padding: 5px 15px 5px 35px;
  background-color: var(--main-color);
  color: var(--main-color2);
}

.ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin-right: 20px;
}

.li-navbar {
  border-bottom: 3px solid var(--main-color);
  padding: 0 15px;
  margin: 5px;
  color: var(--main-color)
}

/* .navbar {
  display: flex; 
  justify-content: flex-end;
  align-items: ;
} */