* {
  box-sizing: border-box;
}

:root {
  --main-color: rgb(75, 211, 224);
  --main-color2: rgb(72, 68, 68);
}


body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

/* Styles for main logo / nav */

.header-container {
  display: flex;
  justify-content: space-between;
  background-color: var(--main-color2);
  align-items: center;
  /* height: 58px; */
}

h1 {
  margin: 10px 0;
  padding: 5px 15px 5px 35px;
  background-color: var(--main-color);
  color: var(--main-color2);
}

.ul-navbar {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin-right: 20px;
}

.li-navbar {
  border-bottom: 3px solid var(--main-color);
  padding: 0 15px;
  margin: 5px;
  color: var(--main-color);
  transition: background-size 0.3s ease;
}

.a-navbar{
 color: var(--main-color);
 text-decoration: none;
 transition:0.3s ease;
}

.a-navbar:hover {
  cursor: pointer;
  background-color: var(--main-color);
  color: var(--main-color2);
  border-color: var(--main-color);
}

/* Styles for hero banner  */

.hero-banner {
  position: relative;
  background-image: url("../images/02-hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 180px;
}

.h2-hero-banner {
  position: absolute;
  top: 130px;
  left: 75%;
  padding: 0 5px;
  background-color: var(--main-color);
  color: var(--main-color2)
}

/* Styles for About me section */

.page-wrapper {
  display: flex;
  flex-direction:column;
  margin: 15px;
}

.page-section1 {
  /* border: 3px solid green; */
  display: grid;
  position: relative;
  align-items: center;
  width: 100%;
  height: auto;
  line-height: 1;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
  "h2-about-me p-about-me1"
  "h2-about-me p-about-me2"
  ;
}

.h2-about-me {
  grid-area: h2-about-me;
  text-align: right;
  text-wrap: nowrap;
  position: absolute; 
  top: 0; 
  right: 0; 
  padding: 20px;
  color: var(--main-color2);
}

.p-about-me1 {
  grid-area: p-about-me1; 
  /* border: 3px solid blue; */
  font-size: 12px;
  padding: 5px 20px;
  border-left: 3px solid var(--main-color); 
}

.p-about-me2 {
  grid-area: p-about-me2; 
  /* border: 3px solid blue; */
  font-size: 12px;
  padding: 5px 20px;
  border-left: 3px solid var(--main-color); 
}

