* {
  box-sizing: border-box;
}

:root {
  --main-color: rgb(144, 213, 220);
  --main-color2: rgb(47, 76, 78);
}

html, body {
  width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: rgb(229, 225, 240);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

/* Styles for main logo / nav */

.header-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: var(--main-color2);
  align-items: center;
}

h1 {
  margin: 10px 0;
  padding: 5px 15px 5px 35px;
  background-color: var(--main-color);
  color: var(--main-color2);
}

.ul-navbar {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin-right: 40px;
}

.li-navbar {
  border-bottom: 3px solid var(--main-color);
  padding: 0 15px;
  margin: 5px;
  color: var(--main-color);
  transition: background-size 0.3s ease;
}

.a-navbar{
 color: var(--main-color);
 text-decoration: none;
 transition:0.3s ease;
}

.a-navbar:hover {
  cursor: pointer;
  padding: 4px;
  background-color: var(--main-color);
  color: var(--main-color2);
  border-color: var(--main-color);
}

/* Styles for hero banner  */

.hero-banner {
  position: relative;
  background-image: url("../images/Banner_myPhoto.png");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  height: 300px;
}

.h2-hero-banner {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 40px;
  margin-bottom: 20px;
  padding: 5px;
  background-color: var(--main-color);
  color: var(--main-color2)
}

/* Styles for About me section */

.page-wrapper {
  display: grid;
  max-width: 1200px;
  margin: 0 5px;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto;
  grid-template-areas: 
  "about"
  "work"
  "contact"
}

#about {
  grid-area: about;
}

#work {
  grid-area: work;
}

#contact {
  grid-area: contact;
}

/*Styles for About me section flexbox option*/
.page-section1 {
  display: flex;
  flex-direction: row;
  padding: 40px;
}

.h2-about-me {
  padding: 10px 20px;
  text-align: right;
  color: var(--main-color2);
  border-right: 3px solid var(--main-color2);
}

.about-me-container {
  flex-direction: column;
  padding: 10px 30px;
}

.p-about-me1{
  margin-bottom: 15px;
}
/* Styles for Work section flex */

.page-section2-flex {
  display: flex;
  flex-direction: row;
  padding: 0 40px;
  height: 600px;
}

.h2-work-left-column {
  padding: 0 20px 0 30px;
  text-align: right;
  color: var(--main-color2);
  border-right: 3px solid var(--main-color2);
} 

.work-container-right-column {
  flex: 1;
  padding: 0 30px;
}

.work-grid {
  display: grid; 
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 1fr 1fr;
  grid-gap: 15px;
  grid-template-areas: 
  "project-1 project-1"
  "project-2 project-3"
  "project-4 project-5"
  ;
}

.item-section2 {
  border: 4px solid var(--main-color);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 35px;
  position: relative;
}

#project-1 {
  grid-area: project-1;
  background-image: url("../images/02-portfolio-1.jpg");
  min-height: 280px;
}

#project-2 {
  grid-area: project-2;
  background-image: url("../images/02-portfolio-2.jpg");
  min-height: 140px;
}

#project-3 {
  grid-area: project-3;
  background-image: url("../images/02-portfolio-3.jpg");
  min-height: 140px;
}

#project-4 {
  grid-area: project-4;
  background-image: url("../images/02-portfolio-4.jpg");
  min-height: 140px;
}

#project-5 {
  grid-area: project-5;
  background-image: url("../images/02-portfolio-4.jpg");
  min-height: 140px;
} 

.heading {
  padding: 5px 5px;
  position: absolute;
  left: 0;
  bottom: 15%;
  background-color: var(--main-color);
  color: var(--main-color2);
}

.heading1 {
  display: inline-block;
  padding: 5px 5px;;
  position: absolute;
  left: 0;
  bottom: 7%;
  background-color: var(--main-color);
  color: var(--main-color2);
}

.project-links {
  text-decoration: none;
  color: var(--main-color2);
}

/* Styles for the Contacts section */

.page-section-contact {
  display: flex;
  flex-direction: row;
  padding: 40px 40px 15px 40px;
}

.h2-contacts {
  padding: 0 20px 0 2px;
  text-align: right;
  color: var(--main-color2);
  border-right: 3px solid var(--main-color2);
}

.contacts {
  flex: 1;
  padding: 0 30px;
}

.ul-contacts {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  list-style: none;
  padding-inline-start: 0;
}

.li-contacts {
  border-bottom: 3px solid var(--main-color2);
  padding: 0 15px;
  margin: 5px;
  color: var(--main-color);
  transition: background-size 0.3s ease;
}

.a-contacts {
 color: var(--main-color2);
 text-decoration: none;
 transition:0.3s ease;
}

.a-contacts:hover {
  cursor: pointer;
  background-color: var(--main-color);
  padding: 4px;
  color: white;
  border-color: var(--main-color);
}

/* Responsiveness */
/* X-Small devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) {

/* Navbar section */
  .header-container {
    flex-direction: column; 
  }

  h1 {
    font-size: 30px;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  
  .ul-navbar {
    margin: 10px;
    padding: 0;
  }
  
  .li-navbar {
    font-size: 1rem;
    padding: 0 5px;
  }
  
  .a-navbar{
  font-size: 1rem;
  }

/* Hero section */
  .hero-banner {
    height: 180px;
  }
  
  .h2-hero-banner {
    font-size: larger;
    text-align: center;
    padding: 0;
    margin: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }

/* About Me section*/
  .page-section1 {
    flex-direction: column;
    align-items: left; 
    justify-content: center; 
    padding: 20px;
  }

  .h2-about-me br {
    display: none;
  }

  .h2-about-me {
    text-align: left;
    border-bottom: 3px solid var(--main-color2);
    border-right: transparent;
    width: 90%;
    padding: 0;
    margin: 10px 20px;
  }

  .about-me-container {
    margin: 10px 20px;
    padding: 0;
  }

/* Work section */

  .page-section2-flex {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
  }

  .h2-work-left-column {
    padding: 0;
    text-align: left;
    border-right: transparent;
    border-bottom: 3px solid var(--main-color2);
    margin: 10px 20px;
  } 

  .work-container-right-column {
    flex: 1;
    padding: 0;
  }

  .work-grid {
    width: 90%;
    margin: 0 20px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 5px;
    grid-template-areas: 
    "project-1"
    "project-2" 
    "project-3"
    "project-4" 
    "project-5"
    ;
  }

  .item-section2 {
    padding: 0;
    align-self: center; 
  }

  #project-1, #project-2, #project-3, #project-4, #project-5 {
    min-height: 100px;
  }

  #project-1 {
    grid-area: project-1;
  }

  #project-2 {
    grid-area: project-2;
  }

  #project-3 {
    grid-area: project-3;
  }

  #project-4 {
    grid-area: project-4;
  }

  #project-5 {
    grid-area: project-5;
  } 

  /* Section Contacts */
  .page-section-contact {
    display: flex;
    flex-direction: column;
    padding: 15px 20px;
  }

  .h2-contacts br {
    display: none;
  }

  .h2-contacts {
    padding: 0;
    text-align: left;
    border-right: transparent;
    border-bottom: 3px solid var(--main-color2);
    margin: 10px 20px;
  }

  .contacts {
    padding: 0;
  }

  .ul-contacts {
    justify-content: space-evenly;
    align-items: center;
    font-size: 15px;
  }

  .li-contacts {
    border-bottom: 2px solid var(--main-color2);
    padding: 0;
    margin: 5px;
  }
}

@media (max-width: 365px) {
/* Navbar section */
  h1 {
    font-size: 28px;
  }
  
  .ul-navbar {
    margin: 5px;
    padding: 0;
  }
  
  .li-navbar {
    font-size: 0.8rem;
    padding: 0;
    border-bottom: 2px solid var(--main-color);
  }
  
  .a-navbar{
  font-size: 0.8rem;
  }

/* Hero section */
.hero-banner {
  height: 160px;
}

.h2-hero-banner {
  font-size: medium;
}

/* About Me section*/
.page-section1 {
  padding: 10px;
}

.h2-about-me {
  border-bottom: 2.5px solid var(--main-color2);
  font-size: 20px;
}

.p-about-me1, .p-about-me2 {
  font-size: 14px;
}

/* Work section */

.page-section2-flex {
  padding: 0 10px;
}

.h2-work-left-column {
  font-size: 20px;
  border-bottom: 2.5px solid var(--main-color2);
  margin: 10px 20px;
} 

.work-container-right-column {
  padding-top: 10px;
}

.item-section2 .heading1 a h3:first-child {
  font-size: 15px;
}

.item-section2 .heading a h3:first-child {
  font-size: 15px;
}

.item-section2 .heading p:last-child {
  font-size: 13px;
}
.item-section2 .heading1 p:last-child {
  font-size: 13px;
}

/* Section Contacts */
.page-section-contact {
  display: flex;
  flex-direction: column;
  padding: 15px 20px;
}

.h2-contacts br {
  display: none;
}

.h2-contacts {
  padding: 0;
  text-align: left;
  border-right: transparent;
  border-bottom: 3px solid var(--main-color2);
  margin: 10px 20px;
}

.contacts {
  padding: 0;
}

.ul-contacts {
  justify-content: space-evenly;
  align-items: center;
  font-size: 15px;
}

.li-contacts {
  border-bottom: 2px solid var(--main-color2);
  padding: 0;
  margin: 5px;
}

}

/* // Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { ... }

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { ... }

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { ... }

// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) { ... }
@media (max-width: 575.98px) { ... }

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { ... }

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { ... }

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { ... }

// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) { ... }
 */
